@import "fonts";
@import "style_zero.scss";

body {
   box-sizing: border-box;
   background: url(@img/2.webp) round;
   font-family: Metro;
}
.nav-header {
   display: flex;
   background: linear-gradient(180deg, hwb(184 7% 7%), rgba(97, 45, 201, 0.7), hwb(184 7% 7%)),
      linear-gradient(90deg, rgb(48, 48, 201), rgba(113, 45, 201, 0.7), hwb(238 19% 21%));
   justify-content: center;
}
.menu-image img {
   width: 300px;
}
.nav-header a {
   display: inline-block;
   width: 49px;
   margin-right: 20px;
   padding: 10px 0px 10px 0px;
   & .phone {
      margin-left: 70px;
   }
   & img {
      width: 50px;
   }
}
.nav-footer {
   position: relative;
   height: 40px;
   padding-top: 5px;
   font-size: 20px;
   display: block;
   background-image: linear-gradient(hsla(289, 58%, 15%, 0.723), #860937e2);
   height: 30px;
   color: #fb00ff;
}
@-webkit-keyframes scroll {
   0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
   }
   100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
   }
}

@-moz-keyframes scroll {
   0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
   }
   100% {
      -moz-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
   }
}

@keyframes scroll {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(-100%, 0);
   }
}

.marquee {
   display: block;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.marquee .run {
   display: inline-block;
   padding-left: 100%;
   -webkit-animation: scroll 15s infinite linear;
   -moz-animation: scroll 10s infinite linear;
   animation: scroll 15s infinite linear;
}

.menu-image img {
   border-radius: 29% 50% 30% 60%;
   margin: 150px 0px 50px 220px;
}
.name {
   color: #00fff7 !important;
}
.success {
   color: red !important;
}
ul {
   margin-left: 260px;
   width: 0;
   display: flex;
   flex-direction: column;
}
button {
   display: inline-block;
   margin: 20px;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 3px;
   color: #dd00ffe4;
   background-color: rgba(0, 0, 0, 0);
}

.list-link:hover {
   cursor: pointer;
   color: #33b4eb;
   // box-shadow: 5px 0px 60px 22px #33b4eba6;
   &:active {
      color: #00fff7;
   }
}
.git {
   padding: 2px;
}
.instagram:hover {
   border-radius: 40% !important;
}
.linkedin:hover {
   border-radius: 30% !important;
}
.viber {
   padding: 2px;
}
.phone {
   padding: 2px;
   overflow: visible;
}
.nav-header img:hover {
   box-shadow: 5px 0px 39px 22px #33b4eb;
   background-color: #00fff7;
   border-radius: 50%;
}
.menu-image-face:hover {
   border: 2px solid #00fff7;
   cursor: pointer;
   box-shadow: 5px 0px 60px 22px #33b4eba6;
}

//modal
.modal {
   box-shadow: 5px 0px 60px 22px #33b4eb;
   display: none;
   position: fixed;
   z-index: 1;
   left: 50;
   top: 0;
   width: 62%;
   height: 75%;
   margin: 10% 0% 15% 20%;
   overflow: auto;
   border: 3px solid #00fff7;
}
::-webkit-scrollbar {
   width: 8px;
}
::-webkit-scrollbar-track {
   background-color: #33b4eb;
}
::-webkit-scrollbar-thumb {
   background-color: #00fff7ba;
}
.modal-content {
   background-color: #00fff76b;
   padding: 20px;

   width: 100%;
}

.close {
   margin-top: -15px;
   color: #780bc0;
   float: right;
   font-size: 30px;
   font-weight: bold;
   &:hover {
      cursor: pointer;
      color: #00fff7;
   }
}
.first {
   padding: 20px 0px 0px 0px !important;
}
.portfolio {
   display: flex;
   padding: 70px 0px 0px 0px;
}
.portfolio-info {
   padding: 0px 20px;
   text-transform: uppercase;
   font-size: 15px;
   letter-spacing: 3px;
   color: #00fff7e6;
   text-decoration: underline;
   // text-align: justify;
   line-height: 28px;
}
.p-img {
   width: 500px;
   border-radius: 10%;
   height: 100%;
   &:hover {
      border: 3px solid #00fff7;
   }
}
hr {
   border: 3px solid #00fff7c1;
   border-radius: 20;
}
.button {
   margin: 10px auto;
   max-width: 100%;
   background-color: #d000ffb0;
   height: 40px;
   text-align: center;
   text-transform: uppercase;
   padding-top: 7px;
   font-size: 25px;
   color: #000;
   cursor: pointer;
   &:hover {
      color: #00fff7;
      background-color: #fb00ffaf;
   }
}
.portfolio-work {
   position: relative;
   &:hover {
      &::after {
         content: "CHECK PREVIEW";
         position: absolute;
         left: 20%;
         top: 50%;
         text-transform: uppercase;
         font-size: 20px;
         letter-spacing: 3px;
         color: #780bc0;
         font-weight: 600;
         cursor: pointer;
      }
      &::before {
         content: "";
         border: 3px solid #00fff7;
         position: absolute;
         border-radius: 10%;
         width: 100%;
         height: 100%;
         background-color: rgba(255, 255, 255, 0.305);
      }
   }
}

.modal-two {
   display: none;
   position: fixed;
   z-index: 1;
   left: 50;
   top: 0;
   width: 60%;
   height: 75%;
   margin: 10% 0% 15% 20%;
   overflow: auto;
}
.modal-content-two {
   background-color: #00fff76b;
   padding: 20px;
   border: 3px solid #00fff7;
   width: 100%;
}

.close-two {
   margin-top: -15px;
   color: #780bc0;
   float: right;
   font-size: 30px;
   font-weight: bold;
   &:hover {
      cursor: pointer;
      color: #00fff7;
   }
}
.up {
   position: relative;
}
.btn-top {
   display: none;
   background-color: #00fff792;
   position: fixed;
   width: 100px;
   height: 40px;
   bottom: -17px;
   right: 500px;
   border: 3px solid #00fff7;
   text-align: center;
   font-size: 15px;
   color: #000;
   cursor: pointer;
   transition: 0.5s;
   &:hover {
      background-color: #00fff7;
   }
}
.modal-three {
   display: none;
   position: fixed;
   z-index: 1;
   left: 50;
   top: 0;
   width: 60%;
   height: 75%;
   margin: 10% 0% 15% 20%;
   overflow: auto;
}
.modal-content-three {
   background-color: #00fff76b;
   padding: 20px;
   border: 3px solid #00fff7;
   width: 100%;
}

.close-three {
   margin-top: -15px;
   color: #780bc0;
   float: right;
   font-size: 30px;
   font-weight: bold;
   &:hover {
      cursor: pointer;
      color: #00fff7;
   }
}
